<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | American Protection</title>
        <meta charset ="utf-8">
        <style type="text/css">
	   h1 {
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:3px;
                margin-bottom:1px;
                margin-top:0px;
                height:40px;
            }
            h3{
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:4px;
                margin-bottom:1px;
                margin-top:0px;
                height:120px;
            }
            
            body {
                background-color:blue;
            }
            
            p{
                color:white;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align:center;"><Strong>About American Protection</Strong></h1>
	
	<p>
	American Protection LLC was started in 2007 by its current owner, Timothy Vaught. With over twenty-five years of experience in the Alarm industry, Timothy decided to open up his own business to provide quality serivce to those in the Upstate. American Protection is a family run company that is dedicated to protecting your family against invasions. Not only does American Protection protect your family, we protect your business as well! We have our own calling center based out of Louisiana that we work with to make sure your house or business is fully protected 24/7! We specialize in Residential and Commerical Security/Fire Alarms so you know you are protected by the best!
	</p>
	<%= link_to image_tag("phone.jpg", alt: "Actual work") %>
    </body>
</html>
