<% provide(:title, "Contact Us") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | American Protection</title>
        <meta charset ="utf-8">
        <style type="text/css">
            h1 {
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:4px;
                margin-bottom:1px;
                margin-top:0px;
                height:127px;
            }
            h3{
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:4px;
                margin-bottom:1px;
                margin-top:0px;
                height:120px;
            }
            
            body {
                background-color:blue;
            }
            
            p{
                color:white;
            }
 
            ul{
                color:white;
        </style>
    </head>
    <body>
        <h1 style="text-align:center;"><%= link_to image_tag("o.jpg", alt: "Logo") %> <Strong>Contact Us</Strong></h1>
        <p> Have any questions, comments, or concerns? Please feel free to reach us at:</p>
        <ul style="list-style-type:none">
          <li>Office Phone Number: 864-288-0081</li>
          <li>Email: TVaught@AmericanProtectionllc.com</li>
        </ul>
    </body>
</html>
