<% provide(:title, "Customer Reviews") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | American Protection</title>
        <meta charset ="utf-8">
        <style type="text/css">
            h1 {
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:4px;
                margin-bottom:1px;
                margin-top:0px;
                height:120px;
            }
            h3{
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:4px;
                margin-bottom:1px;
                margin-top:0px;
                height:120px;
            }
            
            body {
                background-color:blue;
            }
            
            p{
                color:white;
            }
        </style>
    </head>
    <body>
      <h1 style="text-align:center;"><img src="o.jpg" alt="Logo"></img> <Strong>Customer Reviews</Strong></h1>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
             <%= render 'shared/user_info' %>
          </section>
          <section class="micropost_form">
             <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
     </div>
    </body>
</html>
