<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title)%> | American Protection</title>
        <meta charset ="utf-8">
        <style type="text/css">
            h1{
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:3px;
                margin-bottom:10px;
                margin-top:0px;
                height:127px;
            }
            
            body {
                background-color:blue;
            }
            
            p{
                color:white;
            }
        </style>
    </head>
    <body>
	<div class="center">
        <h1 style="text-align:center;"><%= link_to image_tag("o.jpg", alt: "Logo") %> <Strong>American Protection LLC</Strong></h1>
	<p>
	Welcome to the website of American Protection, where we make your safety our top priority.
	If you are a customer of ours and haven't already made an account, please click the button below.
	Not an existing customer?
	Please feel free to look around!
	</p>
	 <%= link_to "Create Your Account!", signup_path, class: "btn btn-lg btn-primary" %>
	<%= link_to image_tag("modern.jpg", alt: "House") %>
	</div>
    </body>
</html>
