<% provide(:title, "Monitoring Plans") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | American Protection</title>
        <meta charset ="utf-8">
        <style type="text/css">
            h1 {
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:4px;
                margin-bottom:1px;
                margin-top:0px;
                height:120px;
            }
            h3{
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:4px;
                margin-bottom:1px;
                margin-top:0px;
                height:120px;
            }
            
            body {
                background-color:blue;
            }
            
            p{
                color:white;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align:center;"><img src="o.jpg" alt="Logo"></img> <Strong>American Protection LLC</Strong> - "Where your safety is our priority!" </h1>
        <form>
            <button type="button">
        	Main Page	
        	</button>
            <button type="button">
            About Us
            </button>
            
            <button type="button">
            Products
            </button>
            
            <button type="button">
            Service Options
            </button>
            
            <button type="button">
            Monitoring Plans and Kits
            </button>
            
            <button type="button">
            Customer Reviews
            </button>
            
            <button type="button">
            Contact Us
            </button>
        </form>
        <h3></h3>
        <script>

        </script>
    </body>
</html>
