<% provide(:title, "Service Options") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | American Protection</title>
        <meta charset ="utf-8">
        <style type="text/css">
            h1 {
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:3px;
                margin-bottom:1px;
                margin-top:0px;
                height:40px;
            }
            h3{
                border-style:solid;
                background-color:navy;
                color:white;
                border-color:black;
                border-width:4px;
                margin-bottom:1px;
                margin-top:0px;
                height:120px;
            }
            
            body {
                background-color:blue;
            }
            
            p{
                color:white;
            }

	    ul{
		color:white;
	      }
        </style>
    </head>
    <body>
        <h1 style="text-align:center;"><Strong>Service Options</Strong> </h1>
	<p>Below is our operating hours and our costs for operating hours and after hours service calls. If you need to make an appointment please call the Office Number(located under Contact Us) during operating hours.</p>
	<ul style="list-style-type:none">
	<li><Strong>Operating Hours: Monday-Friday 9AM-5PM</Strong></li>
	<li><Strong>Operating Hours fee: $95 an hour.</Strong></li>
	<li><Strong>After Hours fee: $135 and hour with a minimum charge of 2 hours.</Strong></li>
	</ul>

    </body>
</html>
